body {
    margin: 0;
    font-family: Arial, sans-serif;
}

div.bg-img-films {
    position: relative;
    background-image: url(images/FILMS_BG.jpg);
    height: 2000px;
    width: 100%;
    filter: blur(3px);
}

div.bg-img-reg {
    position: relative;
    background-image: url(images/FILMS_BG.jpg);
    height: 1000px;
    width: 100%;
    filter: blur(3px);
}

div.bg-img-home {
    background-image: url(images/FILMS_BG.jpg);
    height: 1000px;
    width: 100%;
    filter: blur(3px);
}

article#home {
    position: absolute;
    background-color: #383838;
    top: 200px;
    text-align: center;
    left: 100px;
    right: 100px;
    color: lightgray;
    border-radius: 10px;
}

article#reg {
    position: absolute;
    background-color: #383838;
    top: 200px;
    text-align: center;
    left: 760px;
    color: lightgray;
    border-radius: 20px;
    width: 400px;
}

article#capitan {
    position: absolute;
    background-color: #383838;
    top: 200px;
    border-radius: 10px;
}

article#batman {
    position: absolute;
    background-color: #383838;
    top: 800px;
    border-radius: 10px;
}

article#ryan {
    position: absolute;
    background-color: #383838;
    top: 1400px;
    border-radius: 10px;
}

div.kepszoveg {
    font-size: 30px;
    margin: 20px;
    float: left;
    width: 1500px;
    color: lightgrey;
}

div.kep {
    float: left;
    width: 300p;
}

div.kep img {
    width: 100%;
    height: 500px;
}

article#about {
    padding: 8px;
    border-radius: 10px;
    left: 100px;
    background-color: #383838;
    color: lightgrey;
    position: absolute;
    top: 370px;
}

aside#ad {
    padding: 8px;
    border-radius: 10px;
    left: 1290px;
    background-color: #383838;
    color: lightgrey;
    position: absolute;
    top: 370px;
    text-align: center;
}

#ad-img {
    width: 500px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #383838;
}

#nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#nav-links li {
    margin-left: 20px;
}

#nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#nav-link a:hover {
    color: #ff9800;
}

#logo {
    height: 100px;
}

a:any-link {
    color: lightgrey;
    text-decoration: none;
}

a:hover {
    color: lightcoral;
}